.contenedorprincipal {
    background: #A8D3F3;
    width: 100%;
    height: auto;
    min-height: 650px;
    border-radius: 4px;
}

.contenedorderecho {
    font-weight: bold;
    width: 40%;
    height: 300px;
    margin-right: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    float: right;
}

.contenedorizquierdo {
    font-weight: bold;
    width: 45%;
    height: 300px;
    margin-left: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 20px;
    float: left;
}

.abajo {
    font-weight: bold;
    width: 90%;
    height: auto;
    margin-left: 80px;
    padding-left: 90px;
    border-radius: 8px;
}

.input {
    height: 25px;
    border-radius: 3px;
    float:right;
    margin-right:100px;
}

.input1 {
    width: 125px;
    height: 25px;
    border-radius: 3px;
    float: right;
    margin-right: 160px;
}

.input2 {
    width: 60%;
    height: 100px;
    border-radius: 8px;
}

.text{
    padding-left:50px;
    padding-top:20px;
    
}

.color {
    background: #C0E1FA;
    height:500px;
    width:90%;
    margin-left:50px;
    border-radius:4px;
}

.boton{
    float:right;
    margin-right:50px;
    margin-top:15px;
}

.espacio{
    width:90%;
    margin-top:15px;
    margin-bottom:15px;
    margin-left:50px;
}